@page "/drivers"

<h3>Drivers</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Driver</th>
            <th></th>
        </tr>
        <tb ody>
            @foreach(var driver in _drivers)
            {
                <tr>
                    <th>@driver.DriverId</th>
                    <th>@driver.FirstName</th>
                    <th>@driver.LastName</th>
                    <th>@driver.DriverNumber</th>
                    <th></th>
                </tr>
            }
        </tb>
    </thead>
</table>
